%h4 First courses
#first_course_items
  - daily_menu.courses.by_type("first course").each do |course|
    = render partial: "shared/course_item", locals: {course: course}
.clearfix
%h4 Main courses
#main_course_items
  - daily_menu.courses.by_type("main course").each do |course|
    = render partial: "shared/course_item", locals: {course: course}
.clearfix
%h4 Drinks
#drink_items
  - daily_menu.courses.by_type("drink").each do |course|
    = render partial: "shared/course_item", locals: {course: course}