.row
  #content.container.col-md-12
    %h4 Choose the date:
    .row
      .col-md-2
        %input#datepicker.form-control.form-field
    %h3 
      Orders for 
      %span#date  
        = DateTime.now.strftime('%d/%m/%Y')
    #order_items.row
      - if @orders
        - @orders.each do |order|
          = render partial: "admin/shared/order_item", locals: {order: order}
        %strong
          Total cost: 
        = @total_cost    
      - else
        %p
          Not orders for today  