.row
  .col-md-9
    #content.container.col-md-12
      %h4 Choose the date:
      .row
        .col-md-2
          %input#datepicker.form-control.form-field
      %h3
        Daily menu for 
        %span#daily_menu_date
          - if @daily_menu
            = @daily_menu.date.strftime('%d/%m/%Y')
          - else  
            = DateTime.now.strftime('%d/%m/%Y')
      #daily_menu_items.row
        - if @daily_menu
          - if @daily_menu.courses.exists?
            - @daily_menu.courses.each do |course|
              .col-md-4
                .thumbnail
                  = render partial: "course_item", locals: {course: course}  
        - else
          %p
            Nothing =(                   
  = render 'shared/sidebar'