.col-md-3.col-xs-4
  .thumbnail
    = image_tag course.image.url
    .caption
      %p
        %strong
          Name:
        = course.name
        %br/
        %strong
          Price:
        = course.price