.col-xs-3.sidebar
  .list-group
    = link_to 'Users', admin_users_path, {:class => 'list-group-item'} 
    = link_to 'Orders', admin_orders_path, {:class => 'list-group-item'}
    = link_to 'Courses', admin_courses_path, {:class => 'list-group-item'}
    = link_to 'Daily menu', admin_daily_menus_path, {:class => 'list-group-item'}  